.red-primary {
	color: var(--upch-primary);
}
.fw-bold {
    font-weight: 600!important;
}
.container-checkbox {
	display: block;
	position: relative;
	padding-left: 20px;
	margin-bottom: 10px;
	cursor: pointer;
	font-size: 13px;
	line-height: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
		&:checked {
			~ {
				.checkmark {
					background-color: white;
					&:after {
						display: block;
					}
				}
			}
		}
	}
	&:hover {
		input {
			~ {
				.checkmark {
					background-color: rgb(247, 247, 247);
				}
			}
		}
	}
	.checkmark {
		&:after {
			left: 4px;
			top: 2px;
			width: 4px;
			height: 7px;
			border: solid var(--upch-primary-dark);
			border-width: 0 1px 1px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
}
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 14px;
	width: 14px;
	background-color: white;
	border: 1px solid var(--upch-primary-dark);
	border-radius: 3px;
	&:after {
		content: "";
		position: absolute;
		display: none;
	}
}


.fw-regular {
	font-weight: 400;
}

.fw-medium {
	font-weight: 500;
}
.fs-14 { 
	font-size: 14px;
}
.fs-12 {
	font-size: 12px;

}

.line-height-0 {
	line-height: 1!important;
}

.fs-13 {
	font-size: 13px;
}

.text-upch {
	color: var(--upch-primary);
}
.label-years {
color: #3D3D3D;
}

.badge-intermedio {
	width: fit-content;
    padding: 4px 14px;
    border-radius: 16px;
    background: rgba(255, 213, 0, 0.27);
    font-size: 13px;
    color: rgba(130, 108, 0, 1);
}
.badge-avanzado {
	width: fit-content;
    padding: 4px 14px;
    border-radius: 16px;
	background: rgba(23, 74, 227, 0.15);
    font-size: 13px;
    color: #002185;
}
.badge-basico {
	width: fit-content;
    padding: 4px 14px;
    border-radius: 16px;
    background: rgba(35, 31, 31, 0.13);
    font-size: 13px;
    color: #231F1F;
}
.badge-aptitudes {
	width: fit-content;
    padding: 5px 20px;
    border-radius: 16px;
    background: rgba(35, 31, 31, 0.13);
    font-size: 16px;
    color: #231F1F;
}

.marker {
	padding-left: 3rem;

	li{
		color: #D9D9D9;
		font-size: 2.5em;
		
    	line-height: 0;
		h5 {
			font-size: 1.25rem!important;
			line-height: 1;
		}
		p{
			color: #231F1F!important;
			font-size: 15px!important;
			line-height: 1;

		}
		
		span.text-gray {
			color: #3D3D3D;
			line-height: 1;
		}
		
		span {
			font-size: 14px!important;
			line-height: 1;

		}
		div {
			line-height: 0;
		}
	}
	.marker-item {
		h5 {
			padding-left: 1.6rem;
			color: #231F1F!important;
			margin-bottom: .45rem;
    position: relative;
    bottom: 5px;
		}
		> div {
			padding-left: 3rem;
			position: relative;
			right: 23px
		}
	}

	.marker-item-border {
		h5 {
			padding-left: 1.6rem;
			color: #231F1F!important;
			margin-bottom: .45rem;
    position: relative;
    bottom: 5px;

		}
		
		> div {
			padding-left: 3rem;
			position: relative;
			border-left: 1px solid #D9D9D9;
			right: 23px;
			padding-bottom: 2rem;
		}
	}
}

.info-description, .name-description {
	padding-left: .75rem!important;
	
}
.info-description {
	padding-left: .75rem!important;
	min-height: 75px;
    max-height: 75px;
	.bg-light.text-dark.fw-regular.rounded-3.ms-2.py-1.px-2{
		line-height: 2;
		font-size: 14px;
	}
}
.title-width{
	width: 82.5%;
}

.w-80 {
	width: 80%;
}
.w-85 {
	width: 85%;
}
.cargo-subtitle {
	
    font-size: 12px;
    font-weight: 500;

}